<div class="creation-container">
    <div class="creation-title">
        <h2>New way to create</h2>
    </div>
    <div class="creation-description">
        <div class="creation-text">
            <h3>Créer, partager, financer</h3>
            <h4>Suspendisse luctus nibh vitae est dapibus iaculis. Nulla in libero non metus tristique feugiat. Etiam et
                fermentum neque. Fusce metus felis, pretium quis aliquam sit amet, dignissim posuere libero. Quisque
                volutpat nisi bibendum, facilisis diam laoreet, tristique quam. Nullam egestas, elit sed elementum
                semper, nulla augue tempor nisl, sed pretium lectus dolor ut odio. Nam dictum mi eget lectus iaculis
                auctor. Donec eu cursus nisl, nec laoreet enim. Nam auctor ipsum vel varius efficitur. Nullam id feugiat
                lectus, sed tempor tellus. Suspendisse vel justo at sem gravida faucibus. In non aliquet nibh, a
                vestibulum mi. Fusce aliquam interdum dolor, non tempus neque semper a.</h4>
        </div>
        <div class="creation-image-container">
            <div class="creation-image"></div>
        </div>
    </div>
</div>