<div class="hero">
    <div class="hero-container">
        <div class="hero-container-text">
            <div class="title"><h1>Lorem ipsum dolor sit amet</h1></div>
            <div class="subtitle"><h2> Donec et nisi cursus, pulvinar elit non.</h2></div>
            <div class="description"><h3> Donec et nisi cursus, pulvinar elit non</h3></div>
        </div>
        <div class="hero-container-image">
            <div class="hero-image"></div>
        </div>
    </div>
</div>
<div class="trio-container">
    <div class="trio-title"><h2>Quisque faucibus iaculis tellus</h2></div>
    <div class="trio">
        <div class="trio-item">
            <div class="item-title"><h3>Curabitur varius</h3></div>
            <div class="item-description"><h4>Donec aliquam gravida justo vehicula semper</h4></div>
        </div>
        <div class="trio-item">
            <div class="item-title"><h3>Vivamus tempor</h3></div>
            <div class="item-description"><h4>quis cursus est.</h4></div>
        </div>
        <div class="trio-item">
            <div class="item-title"><h3>Nullam vel</h3></div>
            <div class="item-description"><h4>Vivamus egestas odio a neque mattis</h4></div>
        </div>
    </div>
</div>

<div class="vocation-container">
    <div class="vocation-title">
        <h2>Vocation Title</h2>
    </div>
    <div class="vocation-description">
        <div class="vocation-text">
            <h3>Créer, partager, financer</h3>
            <h4>Integer suscipit consequat quam, id laoreet erat finibus sit amet. Phasellus varius justo ut interdum
                sodales. Nullam non metus sit amet dui lobortis sagittis. Donec at diam at libero lacinia suscipit.
                Praesent vitae enim eu lorem maximus pulvinar.</h4>
        </div>
        <div class="vocation-image-container">
            <div class="vocation-image"></div>
        </div>
    </div>
</div>