{% extends 'layout.twig' %}




    {% block body %}
        <div class="board-section">
            <div class="board-section-header">
                <div class="board-section-title"><h2>Projets</h2></div>
                <div class="board-section-line">
                    <div class="board-section-left">
                        <div class="state"><h3>Count-1</h3></div>
                        <div class="state"><h3>Count-2</h3></div>
                        <div class="state"><h3>Count-3</h3></div>
                    </div>
                    <div class="board-section-right">
                        <div class="position">

                        </div>
                        <div class="position">

                        </div>
                    </div>
                </div>
            </div>
            <div class="boards-grid">
                {% for projet in projets %}
                    <div class="board-box"><a href="{{ path('projet', {'id':projet.id}) }}">{{ projet.name }}</a></div>

                {% endfor %}
            </div>
        </div>
        <div class="review-section">
            <div class="review-section-header">
                <div class="review-section-title"><h2>Review</h2></div>

            </div>
            <div class="review-container">
                <div class="review-list">
                    <div class="review">
                        <div class="review-user">
                            <div class="user-picture"></div>
                            <div class="user-username"><h3>User</h3></div>
                            <div class="review-notation">★★★★☆</div>
                        </div>
                        <div class="review-title"><h4>Review title</h4></div>
                        <div class="review-message">review-message review-message review-message review-message
                            review-message
                        </div>
                        <div class="review-board">review-board</div>

                    </div>
                    <div class="review">
                        <div class="review-user">
                            <div class="user-picture"></div>
                            <div class="user-username"><h3>User</h3></div>
                            <div class="review-notation">★★★★☆</div>
                        </div>
                        <div class="review-title"><h4>Review title</h4></div>
                        <div class="review-message">review-message review-message review-message review-message
                            review-message
                        </div>
                        <div class="review-board">review-board</div>

                    </div>
                    <div class="review">
                        <div class="review-user">
                            <div class="user-picture"></div>
                            <div class="user-username"><h3>User</h3></div>
                            <div class="review-notation">★★★★☆</div>
                        </div>
                        <div class="review-title"><h4>Review title</h4></div>
                        <div class="review-message">review-message review-message review-message review-message
                            review-message
                        </div>
                        <div class="review-board">review-board</div>

                    </div>
                    <div class="review">
                        <div class="review-user">
                            <div class="user-picture"></div>
                            <div class="user-username"><h3>User</h3></div>
                            <div class="review-notation">★★★★☆</div>
                        </div>
                        <div class="review-title"><h4>Review title</h4></div>
                        <div class="review-message">review-message review-message review-message review-message
                            review-message
                        </div>
                        <div class="review-board">review-board</div>

                    </div>
                    <div class="review">
                        <div class="review-user">
                            <div class="user-picture"></div>
                            <div class="user-username"><h3>User</h3></div>
                            <div class="review-notation">★★★★☆</div>
                        </div>
                        <div class="review-title"><h4>Review title</h4></div>
                        <div class="review-message">review-message review-message review-message review-message
                            review-message
                        </div>
                        <div class="review-board">review-board</div>

                    </div>
                    <div class="review">
                        <div class="review-user">
                            <div class="user-picture"></div>
                            <div class="user-username"><h3>User</h3></div>
                            <div class="review-notation">★★★★☆</div>
                        </div>
                        <div class="review-title"><h4>Review title</h4></div>
                        <div class="review-message">review-message review-message review-message review-message
                            review-message
                        </div>
                        <div class="review-board">review-board</div>

                    </div>
                    <div class="review">
                        <div class="review-user">
                            <div class="user-picture"></div>
                            <div class="user-username"><h3>User</h3></div>
                            <div class="review-notation">★★★★☆</div>
                        </div>
                        <div class="review-title"><h4>Review title</h4></div>
                        <div class="review-message">review-message review-message review-message review-message
                            review-message
                        </div>
                        <div class="review-board">review-board</div>

                    </div>
                    <div class="review">
                        <div class="review-user">
                            <div class="user-picture"></div>
                            <div class="user-username"><h3>User</h3></div>
                            <div class="review-notation">★★★★☆</div>
                        </div>
                        <div class="review-title"><h4>Review title</h4></div>
                        <div class="review-message">review-message review-message review-message review-message
                            review-message
                        </div>
                        <div class="review-board">review-board</div>

                    </div>
                    <div class="review">
                        <div class="review-user">
                            <div class="user-picture"></div>
                            <div class="user-username"><h3>User</h3></div>
                            <div class="review-notation">★★★★☆</div>
                        </div>
                        <div class="review-title"><h4>Review title</h4></div>
                        <div class="review-message">review-message review-message review-message review-message
                            review-message
                        </div>
                        <div class="review-board">review-board</div>

                    </div>
                    <div class="review">
                        <div class="review-user">
                            <div class="user-picture"></div>
                            <div class="user-username"><h3>User</h3></div>
                            <div class="review-notation">★★★★☆</div>
                        </div>
                        <div class="review-title"><h4>Review title</h4></div>
                        <div class="review-message">review-message review-message review-message review-message
                            review-message
                        </div>
                        <div class="review-board">review-board</div>

                    </div>


                </div>
            </div>
        </div>


    {% endblock %}



{# {% block footer %} #}
{# {% include'include/footer.twig' %} #}
{# {% endblock %} #}
