{% extends 'layout.twig' %}
    {% block body %}
        <div class="app-home">
            {% include'main/home_include/landing.twig' %}
            {% include'main/home_include/creation.twig' %}
            {% include'main/home_include/funding.twig' %}
            {% include'main/home_include/slider_review.twig' %}
        </div>
    {% endblock %}



 {% block footer %}
 {% include'include/footer.twig' %}
 {% endblock %}
