<div class="app-sidebar">
    <div class="sidebar-link"><a href="{{ path('projet_create') }}"> + </a></div>
    <div class="sidebar-link"><a href="{{ path('projet_create') }}"> + </a></div>
    <div class="sidebar-link"><a href="{{ path('projet_create') }}"> + </a></div>
    <div class="sidebar-link"><a href="{{ path('projet_create') }}"> + </a></div>
</div>