.sidebar-link{
  margin-top: 15px;
  display: flex;
  border-radius: 25px;
  height: 50px;
  width: 50px;
  background-color: $background--third;
  cursor: pointer;
  align-items: center;
  justify-content: center;

}