
.panel_board {
  background-color: $background--main;
  border: 2px solid #191919;
  width: 60%;
  height: 80vh;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.panel-description{
  width: 40%;
  display: flex;
  justify-content: center;
}
.cardboard {
  //Position en absolute pour drag
  //position: absolute;
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid #191919;
  border-radius: 15px;
  margin: 15px;
  overflow: hidden;
  max-height: 500px;
  min-height: 100px;
  max-width: 500px;
  min-width: 100px;
  user-select: none;

&--selected{
  width: 50%;
  height: 100%;
  border-radius: 15px;
  overflow: hidden;
  border: 2px solid black;
}

  &--name {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40%;
    width: 100%;
    border-bottom: 2px solid #191919;
    background-color: $background--second;
    cursor: pointer;

  }

  &--logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 60%;
    width: 100%;
    background-color: $background--third;

    & .card--node {
      min-width: 10px;
      min-height: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      margin: 5px;
      padding: 5px;
      border: 2px solid #191919;
      border-radius: 15px;
      background-color: #fcaee2;
    }

    & .card--event {
      min-width: 50px;
      min-height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 5px;
      padding: 5px;
      border: 2px solid #191919;
      border-radius: 15px;
      background-color: #a384ff;
    }
  }

}