
.panel_board {
  background-color: #e9f5f3;
  margin: 50px;
  border: 2px solid #191919;
  border-radius: 15px;
  width: 90%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.cardboard {
  position: absolute;
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid #191919;
  border-radius: 15px;
  margin: 15px;
  overflow: hidden;
  max-height: 500px;
  min-height: 100px;
  max-width: 500px;
  min-width: 100px;
  user-select: none;

&--selected{
  width: 50%;
  height: 100%;
  border-radius: 15px;
  overflow: hidden;
  border: 2px solid black;
}

  &--name {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40%;
    width: 100%;
    border-bottom: 2px solid #191919;
    background-color: #c23608;
    cursor: pointer;

  }

  &--logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 60%;
    width: 100%;
    background-color: cornflowerblue;

    & .card--node {
      min-width: 10px;
      min-height: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      margin: 5px;
      padding: 5px;
      border: 2px solid #191919;
      border-radius: 15px;
      background-color: #ee209a;
    }

    & .card--event {
      min-width: 50px;
      min-height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 5px;
      padding: 5px;
      border: 2px solid #191919;
      border-radius: 15px;
      background-color: #180065;
    }
  }

}