<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Empty project{% endblock %}</title>

    {% block stylesheets %}
        {% include'include/stylesheets.twig' %}
    {% endblock %}

</head>
<body>
<div class="app-container">
{% block header %} {% include'include/header.twig' %}{% endblock %}


<div class="app-main">

    {% block appnav %}{% endblock %}
    <div class="app-body">
    {% block body %}{% endblock %}
    </div>
</div>
{% block footer %}{% endblock %}
</div>
</body>
</html>