.app-home {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.hero {
  padding-bottom: 100px;
  width: 100%;
  height: calc(100vh - #{$header--height});
  min-height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  //background-color: #5eb5e0;
}

.hero-container {
  //background-color: #999999;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  height: 100%;
  width: 100%;

  &-text {
    height: 100%;
    width: 100%;
    //background-color: #c23608;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;


    .title {
      width: 80%;
      //background-color: blueviolet;
    }

    .subtitle {
      width: 80%;
      //background-color: #649933;

    }

    .description {
      width: 80%;
      //background-color: aqua;

    }
  }

  &-image {
    height: 100%;
    width: 100%;
    //background-color: yellow;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    .hero-image {
      margin: 25px;
      height: 400px;
      width: 600px;
      background-color: $background--third;
    }
  }
}

.trio-container {
  height: 35vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 25px 0;
}

.trio-title {
  width: 100%;
  margin-top: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.trio {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
  .trio-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 50px 50px;
    width: 200px;
    height: 100px;


    .item-title {
      margin-bottom: 15px;
    }

    .item-description {

    }
  }


.vocation-container, .creation-container, .funding-container {

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 25px 0;
  margin-bottom: 200px;
}


.vocation-title, .creation-title, .funding-title {
  //background-color: #c23608;

  margin-top: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.vocation-container {
  height: 65vh;
  width: 100%;
}

.vocation-title {
  width: 50%;
}

.vocation-description {
  height: 400px;
  //background-color: yellow;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

  .vocation-text {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .vocation-image-container {
    //background-color: green;
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

    .vocation-image {
      background-color: $background--third;
      height: 80%;
      width: 80%;
      margin: 0 25px 25px 0;

    }
  }
}


.creation-container, .funding-container {
  height: 100vh;
  width: 100%;
}

.creation-title, .funding-title {
  width: 80%;
}

.creation-description, .funding-description {
  height: 800px;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

  .creation-text, .funding-text {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .creation-image-container, .funding-image-container {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    .creation-image, .funding-image {
      background-color: $background--third;
      height: 80%;
      width: 80%;


    }
  }
}


.slider-review {
  margin: 200px 0;
  width: 100%;
  height: 600px;
  background-color: $background--third;
  display: flex;
  align-items: center;
  justify-content: center;

}